* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
    padding-bottom: 3vh;
}

.body-header{
    background-color: darkgreen;
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
}

.griglia {
    width: 900px;
    height: 94vh;
    margin: auto;
    background-color: lightgray;
}

.quadratino{
    width: calc(100% / 6);
    height: calc(100% / 6);
    border: 1px solid black;
    float: left;
}
